extends ../src/layout/layout.pug
block pagetitle
    title Панель 2.3
block content
    main
        .container-fluid
            .row
                .col-12.py-3
                    h2 Панель 2.3
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            tr
                                each span, code in {'a057136':2,'a057049':2,'a054931':1,'a038420':1,'a038412':1,'a053447':1,'a056369':1,'a051822':1,'a052619':1}
                                    if span == 'null'
                                        td
                                    else
                                        td(rowspan=span > 1? span: '' colspan=['a057136'].indexOf(code) != -1 ? '2': '')
                                                a(href="https://minimir.ru/nomenclature/composite/1"+code target="_blank")
                                                    img(src="https://eurosvet.info/catalog/images/products/preview/1" + code + "_0001.jpg"
                                                    class="img-fluid" alt=code)
                            
                            tr
                                each span, code in {'a054933':2,'a049671':1,'a038410':1,'a053448':1,'a056370':2, 'a051823': 1, 'a052620': 1}
                                    td(rowspan=span > 1? span: '')
                                        a(href="https://minimir.ru/nomenclature/composite/1"+code target="_blank")
                                            img(src="https://eurosvet.info/catalog/images/products/preview/1" + code + "_0001.jpg" class="img-fluid" alt=code)
                            tr
                                each span, code in {'a057133':2,'a057137':2,'a057051':2,'a038417':1,'a051730':1, 'a053449': 1, 'a051824': 1, 'a052622':1}
                                    td(rowspan=span > 1? span: '')
                                        a(href="https://minimir.ru/nomenclature/composite/1"+code target="_blank")
                                            img(src="https://eurosvet.info/catalog/images/products/preview/1" + code + "_0001.jpg" class="img-fluid" alt=code)
                            tr
                                each span, code in {'a054932':2,'empty-1':null,'a038411':1,'empty-2':null,'a056371':1, 'empty-3': null, 'a052621': 1}
                                    if span == null
                                        td
                                    else
                                        td(rowspan=span > 1? span: '')
                                            a(href="https://minimir.ru/nomenclature/composite/1"+code target="_blank")
                                                img(src="https://eurosvet.info/catalog/images/products/preview/1" + code + "_0001.jpg" class="img-fluid" alt=code)