extends ../src/layout/layout.pug
block pagetitle
    title Панель 7.2
block content
    main
        .container-fluid
            .row
                .col-12.py-3
                    h2 Панель 7.2
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            tr
                                each code in ['a058846', '', '', '', 'a055856', 'a058249', 'a058258', '', 'a058271', 'a058267', 'a058246', 'a058272', 'a057973', 'a058289', 'a057134', 'a037521', 'a037522', 'a053055', 'a050527', 'a050525', 'a052837'].reverse()
                                    if code == ''
                                        td
                                    else
                                        td(rowspan=span > 1? span: '')
                                            a(href=code == 'a061364' ? "./new.pug#"+code : "https://minimir.ru/nomenclature/composite/1"+code target="_blank")
                                                img(src="https://eurosvet.info/catalog/images/products/preview/1" + code + "_0001.jpg" class="img-fluid" alt=code)
                            tr
                                each span, code in {'a047685':1, 'a040962':1, 'a051772':1, 'a039017':1, 'a037524':1, 'a049492':1, 'a047724':1, 'a058288':1, 'a048145':1, 'a058230':1, 'a058245':1, 'a058265':1, 'a058269':1, 'a058257':2, 'a058263':1, 'a058250':1, 'a055859':1, 'a059330':1, 'a060166':1, 'a060188':1, 'a058848':1}
                                    td(rowspan=span > 1? span: '')
                                        a(href="https://minimir.ru/nomenclature/composite/1"+code target="_blank")
                                            img(src="https://eurosvet.info/catalog/images/products/preview/1" + code + "_0001.jpg"
                                            class="img-fluid" alt=code)
                            tr 
                                each code in ['a058847', '', '', '', 'a055858', 'a058251', 'a058262', '', '', 'a058247', '', 'a048144', 'a043967', 'a047725', 'a053054', 'a037518', 'a039018', 'a040958', 'a050528', 'a053601'].reverse()
                                    if code == ''
                                        td
                                    else
                                        td
                                            a(href="https://minimir.ru/nomenclature/composite/1"+code target="_blank" title=code)
                                                img(src="https://eurosvet.info/catalog/images/products/preview/1" + code + "_0001.jpg" class="img-fluid" alt=code)
            
